<footer class="footer pt-3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          © {{year}}
          2022,
          <a
            href="https://www.creative-tim.com"
            class="font-weight-bold"
            target="_blank"
            >Edmissions Team.</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-lg-end"
        >
          <ng-container *ngFor="let item of nav">
            <li class="nav-item">
              <a
                [routerLink]="item.routerLink"
                class="nav-link text-muted"

                >{{item.text}}</a
              >
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</footer>
