<nav
  class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 border-radius-xl z-index-sticky blur shadow-blur left-auto"
  id="navbarBlur"
  navbar-scroll="true"
>
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h6 class="font-weight-bolder mb-0 lead">{{ ui.pageHeader }}</h6>
    </nav>
    <div
      class="collapse navbar-collapse mt-sm-0 mt-2 me-md-2 me-sm-4 justify-content-end"
      id="navbar"
    >
      <ul class="navbar-nav justify-content-end">

        <ng-content select="[navbarItems]"></ng-content>

        <!-- Mobile Menu -->
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a
            href="javascript:;"
            class="nav-link text-body p-0"
            id="iconNavbarSidenav"
            (click)="ui.menuToggle()"
          >
            <div class="sidenav-toggler-inner" [class.show]="ui.sidebarMenu">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
