<div #main class="container-fluid py-4" style="height: 100vh">

  <!-- <div class="row mt-4 ">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">

          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex flex-column h-100">
                <p class="mb-1 pt-2 text-bold"></p>
                <h5 class="font-weight-bolder">Live Counselling Session</h5>
                <p class="mb-5">Get free study abroad counselling from a certified counselor immediately.</p>
                <a class=" btn btn-secondary  font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;"
                  (click)="showGetUserInfoModal = true">
                  Get Counselling Now
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
              <div class="bg-gradient-primary border-radius-lg h-100">
                <img src="../assets/img/shapes/waves-white.svg"
                  class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                <div class="position-relative d-flex align-items-center justify-content-center h-100  ">
                  <div class="w-100 h-100   position-relative z-index-2 border-round"
                    style="overflow: hidden; background-image: url('../assets/img/bgs/live-counselling.jpg'); background-size: cover;"
                    alt="rocket"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card h-100 p-3">

      </div>
    </div>
  </div> -->


  <div class="row mt-4">
    <div class="col-12 text-center">
      <h3 class="mt-5">Live Counselling</h3>
      <h5 class="text-secondary font-weight-normal">This information will let us know more about you.</h5>

        <div class="multisteps-form mb-5" >
          <!--progress bar-->
          <div class="row">
            <div class="col-12 col-lg-8 mx-auto my-5">
              <div class="multisteps-form__progress">
                <button class="multisteps-form__progress-btn " [class.js-active]="formIndex==0" type="button" title="User Info">
                  <span>About</span>
                </button>
                <button class="multisteps-form__progress-btn " [class.js-active]="formIndex==1" type="button" title="Address">
                  <span>Purpose</span>
                </button>
                <button class="multisteps-form__progress-btn" [class.js-active]="formIndex==2" type="button" title="Order Info">
                  <span>Education</span>
                </button>
              </div>
            </div>
          </div>
          <!--form panels-->
          <div class="row">
            <div class="col-12 col-lg-8 m-auto">
              <form class="multisteps-form__form" style="height: 463px;" [formGroup]="userData">
                <!--single form panel-->
                <div class="card multisteps-form__panel p-3 border-radius-xl bg-white " [class.js-active]="formIndex==0" data-animation="FadeIn">
                  <div class="row text-center">
                    <div class="col-10 mx-auto">
                      <h5 class="font-weight-normal">Let's start with the basic information</h5>
                      <p>Let us know your name and email address. Use an address you don't mind other users contacting you at</p>
                    </div>
                  </div>
                  <div class="multisteps-form__content">
                    <div class="row mt-3">

                      <div class="col-12 col-sm-8 mt-4 mt-sm-0 text-start mx-auto">
                        <div class="form-group">
                          <label for="userName">Full Name</label>
                          <input type="text" class="form-control" id="userName" value="John Doe" formControlName="name">
                          <div class="err mb-2" *ngIf="name.touched && name.errors">
                            <p color="text-danger">Please enter your Name.</p>
                          </div>

                        </div>


                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email" value="example@domain.com" formControlName="email">
                          <div class="err mb-2" *ngIf="email.touched && email.errors">
                            <p color="text-danger">Please enter valid email address</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="button-row d-flex mt-4">
                      <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next" (click)="next()">Next</button>
                    </div>
                  </div>
                </div>
                <!--single form panel-->
                <div class="card multisteps-form__panel p-3 border-radius-xl bg-white " [class.js-active]="formIndex==1" data-animation="FadeIn">
                  <div class="row text-center">
                    <div class="col-10 mx-auto">
                      <h5 class="font-weight-normal">Purpose</h5>
                      <p>Give us more details about you.</p>
                    </div>
                  </div>
                  <div class="multisteps-form__content">

                    <div class="row mt-4">
                      <div class="col-12 col-md-8 mx-auto text-start">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Preferred Country</label>
                          <select class="form-control" id="exampleFormControlSelect1" formControlName="country">
                            <option>Canada</option>
                            <option>USA</option>
                            <option>UK</option>
                            <option>Australia</option>
                            <option>Others</option>
                          </select>
                          <div class="err mb-2" *ngIf="country.touched && country.errors">
                            <p color="text-danger">Please select an option.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Preferred Intake</label>
                          <select class="form-control" id="exampleFormControlSelect1" formControlName="intake">
                            <option>May 2022</option>
                            <option>Sept 2022</option>
                            <option>Jan 2023</option>
                            <option>May 2023</option>
                            <option>Sept 2023</option>
                          </select>
                          <div class="err mb-2" *ngIf="intake.touched && intake.errors">
                            <p color="text-danger">Please select an option.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Preferred Program Intake</label>
                          <select class="form-control" id="exampleFormControlSelect1" formControlName="program">
                            <option>Post Graduate Diploma</option>
                            <option>Masters</option>
                            <option>UG</option>
                            <option>MBA</option>
                            <option>PhD</option>
                            <option>Not decided</option>
                          </select>
                          <div class="err mb-2" *ngIf="program.touched && program.errors">
                            <p color="text-danger">Please select an option.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Status of IELTS / TOEFL exam</label>
                          <select class="form-control" id="exampleFormControlSelect1" formControlName="englishTest">
                            <option>Not Decided</option>
                            <option>Given</option>
                            <option>Booked in Next 2 Months</option>
                            <option>Planning in Next 2 Months</option>
                          </select>
                          <div class="err mb-2" *ngIf="englishTest.touched && englishTest.errors">
                            <p color="text-danger">Please select an option.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="button-row d-flex mt-4">
                      <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev" (click)="prev()">Prev</button>
                      <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next" (click)="next()">Next</button>
                    </div>
                  </div>
                </div>
                <!--single form panel-->
                <div class="card multisteps-form__panel p-3 border-radius-xl bg-white  " [class.js-active]="formIndex==2"  data-animation="FadeIn">
                  <div class="row text-center">
                    <div class="col-10 mx-auto">
                      <h5 class="font-weight-normal">Education</h5>
                      <p>Tell us a bit about your education.</p>
                    </div>
                  </div>
                  <div class="multisteps-form__content">
                    <div class="row text-start">
                      <div class="col-12 col-md-8 mx-auto mt-3">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Highest Level of Education</label>
                          <select class="form-control" id="exampleFormControlSelect1" formControlName="highestEducation">
                            <option>10th Standard</option>
                            <option>12th Standard</option>
                            <option>Bachelor's Degree</option>
                            <option>Master's Degree</option>
                            <option>MBBS / MD Degree</option>
                          </select>
                          <div class="err mb-2" *ngIf="highestEducation.touched && highestEducation.errors">
                            <p color="text-danger">Please select an option.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Grades</label>
                          <input type="text" class="form-control" id="userName" value="0.0" formControlName="grades">
                          <div class="err mb-2" *ngIf="grades.touched && grades.errors">
                            <p color="text-danger">Please enter your grade.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Year of Graduation of your Highest Education</label>
                          <select class="form-control" id="exampleFormControlSelect1" formControlName="year">
                            <option>After 2023</option>
                            <option>2023</option>
                            <option>2022</option>
                            <option>2021</option>
                            <option>2020</option>
                            <option>2019</option>
                            <option>Before 2019</option>
                          </select>
                          <div class="err mb-2" *ngIf="year.touched && year.errors">
                            <p color="text-danger">Please select an option.</p>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="row">
                      <div class="button-row d-flex mt-4 col-12">
                        <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev" (click)="prev()">Prev</button>
                        <button class="btn bg-gradient-dark ms-auto mb-0" type="button" title="Send" (click)="submit()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>

<!-- <app-modal-get-userinfo [show]="showGetUserInfoModal" (output)="userInfoModalResult($event)"></app-modal-get-userinfo> -->

<app-user-counselling-session *ngIf="showUserCousellingSession" [id]="requestid" [show]="showUserCousellingSession"
  (output)="showUserCousellingSession = false">
</app-user-counselling-session>
