<div class="card overflow-hidden">
  <div class="card-body text-center module-cards">
    <div class="normal">
      <h1 class="text-gradient text-success">
        <span id="status1" countto="21">{{module[0].toUpperCase()}}</span>
      </h1>
      <h6 class="mb-0 font-weight-bolder">{{module}}</h6>
      <p class="opacity-8 mb-0 text-sm">{{level}}</p>
    </div>
    <div class="hover p-4">
      <button class="btn btn-success mb-2 mb-md-4 col-12" (click)="learn()">
        Learn
      </button>
      <button class="btn btn-danger m-0 col-12" (click)="test()">
        Test
      </button>
    </div>
  </div>
</div>
