<div #main class="container-fluid py-4">
  <app-top-elements ></app-top-elements>
  <hr class="horizontal dark mt-4" />

      <app-learn-blogstyle></app-learn-blogstyle>

  <!-- <div class="row mt-4">
    <ng-container *ngFor="let item of modules; let i = index">
      <div class="col-lg-4 col-sm-12 mt-4 mt-lg-0 zoom cursor-pointer" *ngIf="i == 0">
        <app-elem [data]="item"></app-elem>
      </div>
      <div class="col-lg-2 col-sm-6 mt-4 mt-lg-0 zoom cursor-pointer" *ngIf="i > 0">
        <app-elem [data]="item"></app-elem>
      </div>
    </ng-container>

  </div> -->

  <div class="row mt-4">
    <div class="col-md-5 mt-md-0 mt-4">
      <app-bookmark-list></app-bookmark-list>
    </div>
    <div class="col-md-7 mt-md-0 mt-4">
      <div class="">
        <div class="card">
          <div class="card-body border-radius-lg bg-gradient-dark p-3">
            <h6 class="mb-0 text-white">Tips and Tricks</h6>
            <p class="text-white mt-2">
              "Understand the questions carefully and focus on finding answers from the passage."
            </p>
            <button class="btn bg-gradient-light mb-0">More Tips</button>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="card">
          <div class="card-header p-3 pb-0">
            <div class="row">
              <div class="col-8 d-flex">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-sm">Dictionary</h6>
                </div>
              </div>
              <div class="col-4">
                <span class="badge bg-gradient-info ms-auto float-end">Word Of the Day</span>
              </div>
            </div>
          </div>
          <div class="card-body p-3 pt-1">
            <div class="bg-gray-100 border-radius-lg p-3 mt-2">
              <div class="row d-flex">
                <h4 class="my-auto col">
                  <span class="text-secondary text-sm me-1"></span>Funambulism<span
                    class="text-secondary text-sm ms-1">noun | fyoo-NAM-buh-liz-um
                  </span>
                </h4>
                <a href="javascript:;" class="col flex-shrink-1 flex-grow-0 btn btn-outline-dark mb-0 ms-auto" (click)="dictModal()">More</a>
              </div>

              <div class="row mt-2">
                <p class="text-sm">
                  Funambulism means "tightrope walking." That sense led to
                  people applying the word for "a show of mental agility."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
