  <!-- header -->
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="https://demos.creative-tim.com/soft-ui-dashboard/pages/dashboard.html" target="_blank">
      <h2 class="navbar-brand h2" alt="main_logo">Admin | Examiner</h2>
    </a>
  </div>

  <hr class="horizontal dark mt-0">

  <!-- List -->
  <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
    <ul class="navbar-nav">

      <ng-container *ngFor="let item of userSidebar ">
        <li class="nav-item"  *ngIf="!item.type || item.type === 'main-Link'">
          <a class="nav-link " routerLinkActive="active" [routerLink]="item.path">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <span [class]="item.icon"></span>
            </div>
            <span class="nav-link-text ms-1">{{item.text}}</span>
          </a>
        </li>
        <li class="nav-item mt-3" *ngIf="item.type === 'header'">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">{{item.text}}</h6>
        </li>
      </ng-container>



    </ul>
  </div>


