<app-comm-loading *ngIf="processing"></app-comm-loading>

<div *ngIf="!processing">
  <div>
    <div class="word-box d-flex flex-column">
      <div class="word-title d-flex">
        <div class="word-info my-0 py-0">
          <h5>{{ datas.word }}</h5>
        </div>

        <div class="save ms-auto">
          <div class="audio-info" *ngIf="pronunciations.audioFile != ''">
            <div class="audio-btn" (click)="playAudio()">
              <img *ngIf="audioPlay" src="./assets/imgs/volume.png" />
              <img *ngIf="!audioPlay" src="./assets/imgs/volume_grey.png" />
            </div>

            <audio
              #audio
              controls
              id="audio"
              style="display: none"
              controlsList="nodownload"
            >
              <source [src]="pronunciations.audioFile" />
            </audio>
          </div>
        </div>
      </div>

        <div class="def-box">
          <p *ngIf="pronunciations.dialects != ''">
            Dialects:<span>{{ " " + pronunciations.dialects }}</span>
          </p>
          <p *ngIf="pronunciations.language != ''">
            Language:<span>{{ " " + pronunciations.language }}</span>
          </p>
          <p *ngIf="pronunciations.phoneticNotation != ''">
            Phonetic Notation:<span>{{
              " " + pronunciations.phoneticNotation
            }}</span>
          </p>
          <p *ngIf="pronunciations.phoneticSpelling != ''">
            Phonetic Spelling:<span>{{
              " " + pronunciations.phoneticSpelling
            }}</span>
          </p>
          <p *ngIf="pronunciations.lexicalCategory != ''">
            Catergory: <span>{{ " " + pronunciations.lexicalCategory }}</span>
          </p>
        </div>

        <div class="def-result">
          <div *ngIf="pronunciations.etymologies != ''">
            <p><b>Etymologies:</b> {{ pronunciations.etymologies }}</p>
          </div>

          <div *ngIf="pronunciations.definitions != ''">
            <p><b>Definition:</b> {{ pronunciations.definitions }}</p>
          </div>

          <div *ngIf="pronunciations.definationexamples">
            <h6>Example:</h6>
            <ul>
              <li *ngFor="let data of pronunciations.definationexamples">
                {{ data.text }}
              </li>
            </ul>
          </div>

          <div *ngIf="pronunciations.shortDefinitions != ''">
            <p>
              <b>Short Definition:</b> {{ pronunciations.shortDefinitions }}
            </p>
          </div>

          <div *ngIf="pronunciations.synonyms">
            <h6>Synonyms:</h6>

            <ul>
              <li *ngFor="let data of pronunciations.synonyms">
                {{ data.text }}
              </li>
            </ul>
          </div>

          <div *ngIf="pronunciations.phrases">
            <h6>Phrases:</h6>
            <ul>
              <li *ngFor="let data of pronunciations.phrases">
                {{ data.text }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="powered-text">Powered by {{ datas.metadata.provider }}</p>
    </div>
  </div>
