<div #main class="container-fluid py-4" style="height: 100vh">
  <app-top-elements></app-top-elements>
  <hr class="horizontal dark mt-4" />
  <div class="row mt-4">
    <div class="col-lg-7 col-md-12">
      <div class="card">
        <div class="card-header pb-0 p-3">
          <h6 class="mb-0">Overall Performance</h6>
          <div class="d-flex align-items-center">
            <span class="badge badge-md badge-dot me-4">
              <i class="bg-primary"></i>
              <span class="text-dark text-xs">You</span>
            </span>
            <span class="badge badge-md badge-dot me-4">
              <i class="bg-dark"></i>
              <span class="text-dark text-xs">Edmissions Average</span>
            </span>
          </div>
        </div>
        <div class="card-body p-3">
          <app-overview-chart></app-overview-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 mt-4 mt-lg-0">
        <app-detail-report-chart></app-detail-report-chart>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-lg-6 col-xl-4 mt-4 mt-lg-0">
      <app-practice-test-list></app-practice-test-list>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mt-4 mt-lg-0">
      <app-grammer-excercise-list></app-grammer-excercise-list>
    </div>

    <div class="col-12 col-xl-4 mt-4 mt-xl-0">
      <div class="card h-100 d-flex flex-column">
        <div
          class="card-header mx-4 p-3 text-center flex-grow"
          style="flex-grow: 1"
        >
          <img
            src="/assets/imgs/modules/practice_test.png"
            height="180px"
            alt=""
          />
        </div>
        <div class="card-body pt-0 p-3 text-center" style="flex-grow: 0">
          <h6 class="text-center mb-0">IELTS Mock Test</h6>
          <span class="text-xs">Full Three-hour IELTS Tests.</span>
          <hr class="horizontal dark my-3" />
          <a class="btn btn-primary" (click)="mock()">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
